/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/11/2019, 07:41:43 PM
    Author     : Jesus Acevedo
*/

.inicio,p{
    text-decoration: none;
    font: 100% sans-serif;

}

.button {
    text-decoration: none;
    background-color: #FFFFFF;
    color: #000000;
    padding: 5px;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;

}

